/////////////////////////////////////////
//PRIMARY COLORS
$color-primary-strong-cyan: hsl(171, 72%, 55%);
$color-primary-white: hsl(0, 0%, 100%);
$color-primary-darker-cyan: hsla(184, 77%, 63%, 0.302);
$color-primary-dark-red: hsl(0, 0%, 27%);
$color-primary-light-grayish-red: hsl(0, 4%, 68%);
$color-primary-pink-red: hsl(354, 70%, 54%);
$color-primary-green: hsl(134, 61%, 41%);


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

html {
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

// body {
//   font-family: 'Poppins', sans-serif;
//   font-weight: 400;
//   line-height: 1.4;

//   background: url(/images/Hero.jpg);
//   background-repeat: no-repeat;
//   background-size: cover;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
// }
