.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary-light-white;
  width: 53rem;
  min-height: 37rem;
  padding: 5rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0 $color-primary-darker-cyan;
}

.container {
  background: $color-primary-light-white;
  border-radius: 1rem;
  box-shadow: 0 0.1rem 0.4rem 0 $color-primary-darker-cyan;
  min-height: 35rem;
  width: 64rem;
  padding: 2rem;
}

/////////////////////////////////////////////////
// MEDIA QUERIES

@media only screen and (max-width: 700px) {
  .container {
    margin: 2.5rem;
  }

  .main {
    margin: 2rem 5rem;
  }

}
