.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: hsl(0, 0%, 96%);
  width: 53rem;
  min-height: 37rem;
  padding: 5rem 4rem;
  border-radius: 1rem;
  box-shadow: 0 0 4rem 1rem rgba(0, 0, 0, 0.4);
}

.container {
  background: hsl(0, 0%, 96%);
  border-radius: 1rem;
  box-shadow: 0 0 4rem 1rem rgba(0, 0, 0, 0.4);
  min-height: 35rem;
  width: 64rem;
  padding: 2rem;
}

// /////////////////////////////////////////////////
// // MEDIA QUERIES

// @media only screen and (max-width: 700px) {
//   .main, .container {
//     margin: 2rem;
//   }

// }
